<h3 class="service-h3">
    <div class = "body">
        <form name="userDataForm" ng-controller="userDataController">
            <div class = "content">
                First Name:  <input ng-model="firstName" name="firstName" required>
                <span style="color:red" ng-show="userDataForm.lastName.$error.required && userDataForm.firstName.$dirty">
                  <span ng-show="userDataForm.firstName.$error.required">First name is required.</span>
                </span>
            </div>
            <div class = "content" style="transform: translateY(+30%);">
                Last Name:  <input ng-model="lastName" name="lastName" required style="margin-left: 3px">
                <span style="color:red" ng-show="userDataForm.lastName.$error.required && userDataForm.lastName.$dirty">
                  <span ng-show="userDataForm.lastName.$error.required">Last name is required.</span>
                </span>
            </div>
            <div class = "content" style="transform: translateY(+25%);">
                Email:  <input ng-model="email" type="email" name="email" required style="margin-left: 40px">
                <span style="color:red" ng-show="userDataForm.email.$dirty && userDataForm.email.$invalid">
                  <span ng-show="userDataForm.email.$error.required">Email is required.</span>
                  <span ng-show="userDataForm.email.$error.email">Invalid email address.</span>
                </span>
                <div ng-controller="userDataController">
                    <button ng-disabled="userDataForm.email.$required || userDataForm.email.$invalid || userDataForm.lastName.$error.required || userDataForm.firstName.$error.required" ng-click="changeView('view2')" class="button inline primary">
                        Next
                    </button>
                    <span style="color:red" ng-show="userDataForm.lastName.$error.required || userDataForm.firstName.$error.required || userDataForm.email.$required || userDataForm.email.$invalid">
                            All the fields are required.
                    </span>
                </div>
            </div>
        </form>
    </div>
</h3>