<h3 class="service-h3" ng-controller="problemController">
    <div class = "body">
        <div class = "content">
            <div style="width: 1000px;height:750px;padding: 20px;border: 1px solid;overflow:auto;">
                <div style="position: absolute; top: 0; right: 0; width: 200px; text-align:right;" ng-click="logout('view1')">
                    <i><a>Logout, {{user}}.</a></i>
                </div>
                <h2 style="font-size:40px;color:#007dba;">Problem title: {{problem.title}}</h2>
                <span style="font-size:20px;"> {{problem.description}} </span>
                <br><br><br>                                
                <select ng-model="codeLanguage" class="button inline primary">
                    <option value="python">Python</option>
                    <option value="text/x-java">Java</option>
                </select>
                <section style="font-size:15px">
                  <code-editor syntax="{{codeLanguage}}" ng-model="content"> 
                  {{content}}
                  </code-editor>
                </section>
                <div>
                    <button ng-click="changeView('view2')" class="button inline primary">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</h3>